.brands-container {
  place-items: center;
  min-height: 20rem;
  background-color: #fff;
}

.brands {
  display: flex;
  width: calc(300px * 14);
  padding: 40px 24px;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--primary-color);
}

.brand {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  animation: scrollImages 20s linear infinite;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}
