.footer-container {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
}

.section-container {
    position: relative;
    margin-top: 10rem;
    display: flex;
}

.footer-logo {
    width: 30%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.footer-links-container {
    margin-top: 3rem;
    margin-right: 8rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-links-container:after {
    content: "";
    position: absolute;
    bottom: -2%;
    left: 50%;
    width: 90%;
    height: 1px;
    background-color: var(--text-color); 
    margin-left: -45%; 
  }

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-links li {
    font-size: 1.1rem;
    width: 100%;
    padding: 0px 8px;
    margin: 0.8rem 1.2rem;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}

.company-rights-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.company-rights-section p {
    max-width: 40%;
    text-align: center;
}

.flag-section {
    margin-top: 1rem;
}

.flag {
    margin-left: 0.2rem;
    position: relative;
    top: 5%;
}

@media screen and (max-width: 768px) {
    .footer-logo {
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .footer-links-container {
        flex-direction: column;
        margin-left: 4rem;
        justify-content: center;
    }
    .footer-links {
        margin: 0;
    }
    .footer-links li {
        font-size: 1.2rem;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 576px) {
    .section-container {
        flex-direction: column;
    }

    .footer-logo {
        order: 1;
    }

    .footer-links-container {
        position: relative;
        flex-direction: row;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-left: 0;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links li {
        width: 100%;
        font-size: 1.1rem;
    }

    .footer-links-container:after {
        width: 100%;
        padding-left: 2rem;
    }

    .footer-logo {
        margin-top: 1rem;
        width: 80%;
    }

    .company-rights-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .company-rights-section p {
        max-width: 70%;
        text-align: center;
    }

    .flag-section {
        margin-top: 0;
    }
}
