@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

:root {
  --primary-color: rgba(0, 0, 0, 0.87);
  --btn-bgm-color: #146eb4;
  --btn-bgm-hover-color: #125f9f;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}