.globe-container {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
}

.globe-header {
    margin: 3rem auto;
    margin-bottom: 0rem;
    text-align: center;
    width: 70%;
}

.globe-header h1 {
    font-size: 2.2rem;
}

.globe-header p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 1rem auto;
    color: #4d4d4d;
}