.header-container {
    box-shadow: 0 -1px 0 0 #fff;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/banners/home_banner.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    z-index: 999;
}

.nav-scroll {
    background-color: #fff;
}

.logo {
    margin-left: 5.5rem;
    padding-bottom: 2px;
}

.menu {
    display: flex;
    margin-right: 18rem;
}

.content {
    font-size: 1.1rem;
    margin: 1.2rem;
    cursor: pointer;
}

.arrow {
    position: relative;
    top: 5px;
    margin-left: 0.3rem;
}

.price-link {
    position: relative;
    top: 5px;
    color: inherit;
    text-decoration: none;
}

.price-link:hover {
    text-decoration: underline;
}

.action {
    display: flex;
    margin-top: 0.2rem;
    margin-right: 7rem;
}

.auth-link {
    font-size: 1.1rem;
    color: inherit;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}

.trial-btn {
    font-size: 1.2rem;
    box-sizing: inherit;
    margin-left: 2rem;
    margin-top: 0.3rem;
    background-color: var(--btn-bgm-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 14px 22px;
    cursor: pointer;
    transition: margin-top 0.2s ease-in-out;
}

.trial-btn:hover {
    margin-top: 0.2rem;
    background-color: var(--btn-bgm-hover-color);
}

.mobile-icon {
    display: none;
    position: absolute;
    top: 25%;
    right: 10%;
    color: var(--primary-color);
    transition: all 13s ease;
    cursor: pointer;
}

@media screen and (max-width: 728px) {
    .logo {
        margin-left: 0;
    }
    .content, .action {
        display: none;
    }
    .background-img {
        height: 150%;
    }
    .mobile-icon {
        display: block;
    }
}