.tools-container {
    background-color: rgba(250,183,59,.1);
    min-height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
}

.tools-header {
    margin: 2rem auto;
    text-align: center;
}

.tools-header h1 {
    font-size: 2rem;
}

.tools-header p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #4d4d4d;
}

.tools {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
}

.tool {
    box-shadow: 0 2px 8px rgba(26,24,30,.06);
    background-color: #fff;
    list-style: none;
    margin: 1rem auto;
}

.tool h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.tool p {
    font-size: 18px;
    font-weight: 400;
    max-width: 70%;
    letter-spacing: .02em;
    margin: 1rem auto;
    color: #4d4d4d;
}

@media screen and (max-width: 628px) {
    .tools-header {
        max-width: 70%;
    }
    .tools {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .tools {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .tools h3 {
        font-size: 16px;
    }
    .tools p {
        font-size: 14px;
        max-width: 90%;
    }
}